<app-header-image [backgroundImage]="'assets/images/background/1.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'Our Mission'"
                  [desc]="'Cv19relief.org (Citizens and Business Unite!)'">
</app-header-image>


<div class="theme-container">
    <mat-card class="main-content-header">
        
        <div class="section pt-2">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">What we do</h1>
                    <p class="px-3">
                        Think about what our nation is going through, what it is like to be a citizen at
                        this
                        moment, a consumer (a non-sumer?), what it is like to be an (unemployed) worker in
                        the
                        restaurants and retail and Corporate America establishment that is/that was, a
                        <i>"furloughed"</i> worker sounds like some sort of helpless squirrel-like vermin,
                        an
                        executive less a team, and worse yet still, a small business owner…
                        <br>
                        <br>
                        We are <b>ALL</b> sadly stuck waiting choiceless for government hand-outs from a
                        complex
                        system that was ill-prepared… or are we?
                        <br>
                        <br>
                        Should we be? Do you, do <b>WE</b> accept the status quo?
                        <br>
                        <br>
                        Well...let us imagine and build an alternative reality <b>NOW</b> and
                        <b>TOGETHER</b>.
                        <br>
                        <br>
                        Unite consumers and businesses to kickstart the economy. Simple.
                        <br>
                        <br>
                        Ask not what your country can do for you, ask what YOU can do for YOUR
                        <b>COUNTRY</b>!
                        <br>
                        <br>
                        Ironically, everyone needs to <b>GET OUT</b> (stay <i>"socially distant,"</i> yes!)
                        and
                        <b>SPEND</b> what money they have, be mindful to spend in places and in ways that
                        create
                        demand for workers!
                        <br>
                        <br>
                        STILL, our dollar must go further, so businesses must meet consumers half-way.
                        <br>
                        <br>
                        This type of capitalism, industrial complex, geo-socio-a politico-cooperation is
                        <b>EXACTLY</b> what made America great, to begin with!
                        <br>
                        <br>
                        It is the WILL of our people, our <b>RESOLVE</b>, the likes of which we have not
                        seen in
                        70 years since the 1940s, and that fat of which we have been living off ever since,
                        letting other nations take note, adjusting-even, for our
                        errant/even-if-only-minor-flawed first-attempts at being "better" and "the best",
                        only
                        to eventually catch up and surpass us in so many ways on our very own Second Bill of
                        Rights from 1944 that FDR bled into the ears of our nation at a time when he urged
                        us to
                        never <b>SETTLE</b>.
                        <br>
                        <br>
                        But alas we did... only those who lie to themselves and live in old times believe
                        that
                        America is still <b>#1</b>.
                        <br>
                        <br>
                        "MAGA" ...please, but let's do it the <b>RIGHT WAY</b>!
                        <br>
                        <br>
                        Yes, we have more <b>CHOICE</b> as the world's largest <b>IMPORTER</b>, but this is
                        the
                        <b>ONLY</b> metric we are best at.
                        <br>
                        <br>
                        Oh, and <b>WAR</b>.
                        <br>
                        <br>
                        A lot of good that does during peacetime and nation-building and
                        continuous-improvement
                        and innovation in education, healthcare/medicare, food and shelter for all/universal
                        basic income/social security, zero-emissions energy, and Manned-Missions-To-Mars (or
                        whatever to which we set our sights!).
                        <br>
                        <br>
                        But we must be dually capable of Increasing Quality of Life to <b>BOUNDLESS
                            LIMITS</b>.
                        <br>
                        <br>
                        So it is that <b>TENACITY</b>, the type of outrage that we felt on that Day of
                        Infamy,
                        that awoke from slumber the <b>DRAGON</b> which is the might that <b>WE MUST
                            MUSTER!</b>
                        <br>
                        <br>
                        And is what shall make us <b>GREAT</b> yet <b>AGAIN</b> and <b>STILL</b> (for real),
                        it
                        is the <b>RESOLVE</b> of <b>OUR PEOPLE, TOGETHER</b> that will persevere.
                        <br>
                        <br>
                        Take this&nbsp;&nbsp;<a color="primary" mat-flat-button fxShow="false" fxShow.gt-xs class="uppercase" routerLink="/register">Call to action</a>
                        &nbsp;&nbsp;to <b>JOIN THE COLLECTIVE CONSCIOUSNESS OF THIS MESSAGE.</b>
                        <br>
                        <br>
                        Make we are&nbsp;&nbsp;<a color="primary" mat-flat-button fxShow="false" fxShow.gt-xs class="uppercase" routerLink="/register">#covid19strong</a>
                        &nbsp;&nbsp;mean <b>MORE</b> than just a <i>"return to before <b>COVID-19!</b>"</i>.
                        <br>
                        <br>
                        Because it will take that much effort and much more to regain the foothold we had
                        and
                        clearly have lost as actors on the world stage.
                        <br>
                        <br>
                        <b>THAT</b> is our <b style="color: #d50000">MISSION</b>. It is
                        time
                        to RE-build.
                    </p>
                </div>
            </div>   
        </div> 

    </mat-card> 
 
</div>

<app-get-in-touch></app-get-in-touch>