<div class="section default">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Our Mission</h1>            

            <mat-card class="p-0" fxLayout="row wrap"> 
                <div fxFlex="100" fxFlex.gt-md="50" class="p-3">            
                   <div fxLayout="row wrap">
                        <p class="px-3">
                            <br>
                            Think about what our nation is going through, what it is like to be a citizen at
                            this
                            moment, a consumer (a non-sumer?), what it is like to be an (unemployed) worker in
                            the
                            restaurants and retail and Corporate America establishment that is/that was, a
                            <i>"furloughed"</i> worker sounds like some sort of helpless squirrel-like vermin,
                            an
                            executive less a team, and worse yet still, a small business owner…
                            <br>
                            <br>
                            We are <b>ALL</b> sadly stuck waiting choiceless for government hand-outs from a
                            complex
                            system that was ill-prepared… or are we?
                            <br>
                            <br>
                            Should we be? Do you, do <b>WE</b> accept the status quo?
                            <br>
                            <br>
                            Well...let us imagine and build an alternative reality <b>NOW</b> and
                            <b>TOGETHER</b>.
                            <br>
                            <br>
                            Unite consumers and businesses to kickstart the economy. Simple.
                            <br>
                            <br>
                            Ask not what your country can do for you, ask what YOU can do for YOUR
                            <b>COUNTRY</b>!
                            <br>
                            <br>
                            <a color="primary" mat-flat-button fxShow="false" fxShow.gt-xs class="uppercase" routerLink="/mission">Read More</a>
                        </p>
                   </div>                     
                </div> 
                <div fxFlex="100" fxFlex.gt-md="50" fxShow="false" fxShow.gt-md>                    
                    <img src="assets/images/others/mission.jpg" alt="mission" class="mw-100 d-block">                
                </div>            
            </mat-card>
                
        </div>
    </div>   
</div>